<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<br>
<h1>cart詳細ページ</h1>
<h2>　　　カートに追加された商品</h2>
<br>

<br>
<br>
<table>
	<tr>
							<th>商品名</th>
						    <th>アーティスト</th>
						    <th>価格</th>
						    <th>数量</th>
						    <th>小計</th>
	</tr>
		<% @cart.cart_items.each do |cart_item| %>
		<tr>
			<td text-align:center;><font size="4"><%= cart_item.item.title %></font></td>
			<td text-align:center;><font size="4"><%#= cart_item.item.artist %></font></td>
			<td text-align:center;><font size="4"><%= (cart_item.item.price).to_i %>円</font></td>
			<td></td>
			<td></td>

		</tr>
		<% end %>
</table>
