    <h3>お気に入りの本</h3>
    <table>
      <thead>
          <tr>
            <th>削除</th>
            <th>タイトル</th>
            <th>価格</th>
          </tr>
      </thead>
      <tbody>
        <% @user.items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
