<p>商品一覧ページ</p>
<%= link_to "artists一覧へ", user_artists_path %>

<%= link_to "ジャンル一覧へ", user_genres_path %>

<p><% @items.each do |item| %></p>

<p><%= item.id %></p>

<p><%= item.title %></p>

<% end %>