<% @crumbs = [{title: 'ジャンル一覧', path: admin_genres_path}, {title: '新規作成'}] %>

	<%= form_for @genre, url: admin_genres_path do |f| %>
		<div class="card">
			<div class="card-header">
				ジャンル情報
			</div>
			<div class="card-body">
				<%= render 'form', f: f %>

				<div class="float-right">
					<%= f.submit '登録', class: 'btn btn-primary mr-2'%>
					<%= link_to 'キャンセル', admin_genres_path, class: 'btn btn-light'%>
				</div>
			</div>
		</div>
	<% end %>
