<div class="container">
	<div class="row">
		<div class="col-lg-5">

           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><%= link_to 'プロフィールの編集', edit_user_registration_path(@user.id), class: "fa fa-user-circle" %></h2>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><%= link_to '退会', user_leave_path, class: "glyphicon glyphicon-cloud" %></h2>

        </div>
        <div class="col-lg-7">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><%= link_to "お気に入り", user_favorites_path, class: "glyphicon glyphicon-heart" %></h2>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2><%= link_to "購入履歴", user_order_items_path, class: "glyphicon glyphicon-list-alt" %></h2>
        </div>
    </div>
</div>