<p>アプリケーショントップ画面</p>

<p><%= link_to 'logout', destroy_user_session_path, method: :delete %><p>

<p><%= link_to '商品一覧ページへ', user_items_path %><p>

<p><%= link_to 'ユーザー詳細', user_path(current_user.id) %></p>