<p>アプリケーションtop</p>

<div class="page-header">
	<div class="col_lg_2">
	 	<h1>kaeru</h1>
	</div>
	<div class="col_lg_10">
	   <small>
		<% if user_signed_in? %>
          <%= link_to 'ユーザー詳細', user_path(current_user.id) %>
        <% else %>
         まだ登録されていない方は
 	      <%= link_to '新規登録', new_user_registration_path %>
        <% end %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
	   </small>
	</div>
</div>



<p><%= link_to '商品一覧ページへ', user_items_path %><p>