
<% @artist.each do |artist| %>

	  <table class="table">
		    <tbody>
		        <tr>
		          <td class="col-md-3 text-center">
		          	<div class="text-center">
		          	<%= attachment_image_tag artist, :artist_image, :fill, 150, 150, format: 'jpeg', class: "profile-img" %>
		            </div>
		          </td>
		             <td class="col-md-7">
				       	   <h4><%=link_to artist.name, user_artist_path(artist.id) %><h4>
				       	   <h4>プロフィール</h4>
				       	   	<p><%= artist.description %></p>
		             </td>
		        </tr>
		    </tbody>
	  </table>

<% end %>

<p class="text-right">
<%= link_to "すべてのアーティストを表示", user_artists_path, class: "btn btn-default btn-sm" %>
</p>
