
		 <h4>
		     アーティスト詳細
		 </h4>
			    <p><%= @artist.name %></p>
			    	<h4>プロフィール</h4>
			    	<p><%= @artist.description %></p>
			    	<p><%= link_to "アーティスト一覧へ", user_artists_path %></p>
			    	<h4>ディスコグラフィ</h4>


	<div class="col-md-3">aaa
	</div>
	<div class="col-md-3">aaa
	</div>
	<div class="col-md-3">aaa
	</div>
